.signup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #a4a7ae, #c51ba0);
    display:grid 
}

.signup-container{
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.signup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.signup-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signup-input input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.signup-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #6e8efb;
    font-size: 15px;
    cursor: pointer;
}

.signup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
    color: black;
}

.signup-condition input{
    margin-top: 15px;
}

.signup p{
    color: grey;
    font-weight: 500;
}

.signup span{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.pointer{
    cursor: pointer;
}